header {
    border-bottom: 1px solid #ddd;
}
.title-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background-color: #ffffff;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #333;
  }
  
