/* styles/tailwind.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-color {
  color: #801212;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}