.main-interface {
    display:flex;
    justify-content: center;
    gap:5vw;
    background-color: lightgrey;
    height:100vh;
}


.text-editor-container {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    
}

.suggestions-container {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.ask-ai-container {    
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    height:50vh;
}

